<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tyt.driver">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />
    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT" />



    <application
        android:name="com.tyt.driver.app.MyApp"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_new_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_new_icon_round"
        android:supportsPictureInPicture="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">

        <activity android:name="com.tyt.driver.ui.EnableLocationAct" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Map_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.tyt.driver.ui.signup.SignupActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tyt.driver.ui.otpscreen.OTPActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tyt.driver.ui.splash.SplashScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tyt.driver.ui.acceptReject.AccepRejectAct"
            android:launchMode="singleInstance"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.tyt.driver.ui.approval.ApprovalAct"
            android:launchMode="singleInstance"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.tyt.driver.ui.keyValidation.KeyValidationAct"
            android:launchMode="singleInstance"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.tyt.driver.ui.carDetails.cardetailsAct.CarDetailsAct"
            android:resizeableActivity="false">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.tyt.driver.ui.login.LoginAct"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tyt.driver.ui.loginOrSign.LoginOrSignAct"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tyt.driver.ui.forgot.ForgetPwdActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="fb561854680902600" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tyt.driver.ui.applyRefferal.ApplyRefferalAct"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tyt.driver.ui.homeScreen.HomeAct"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">

            <!--android:turnScreenOn="true"-->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>
        <activity
            android:name="com.tyt.driver.ui.homeScreen.placeapiscreen.PlaceApiAct"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity android:name="com.tyt.driver.ui.documentUpload.DocumentUploadAct">

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity android:name="com.tyt.driver.ui.docsEdit.DocsEditAct" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!--
<activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="${applicationId}.braintree" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        -->
        <service
            android:name="com.tyt.driver.ui.fcm.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name="com.tyt.driver.ui.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

     <!--   <activity
            android:name="com.tyt.driver.ui.CaptureQR"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />--> <!-- <activity -->
        <!-- android:name="MiTaxietHistory.WalletHistAct" -->
        <!-- android:resizeableActivity="false" -->
        <!-- android:screenOrientation="portrait" /> -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7581ed2f58a7dc171ef9aced80753e8d45c917f7" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name="com.tyt.driver.ui.receiver.NetworkchangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tyt.driver.utilz.sync.MyJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.tyt.driver.utilz.LocationUpdatesService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="ocation_updating_service" />
            </intent-filter>
        </service>

        <service
            android:name="com.tyt.driver.utilz.ForegroundService"
            android:enabled="true">
            <intent-filter>
                <action android:name="ocation_updating_service" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.tyt.driver.utilz.sync.SyncRestartReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".utilz.sync.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".utilz.ScheduleCheckService"
            android:enabled="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tyt.driver.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".ui.otpscreen.OTPReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>